<div *ngIf="!tokenExists">
    <div>
      <button (click)="showSignUp = true">Sign Up</button>
      <button (click)="showSignUp = false">Log In</button>
    </div>
  
    <form *ngIf="showSignUp" (ngSubmit)="signUp()">
      <h3>Sign Up</h3>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
  
    <form *ngIf="!showSignUp" (ngSubmit)="login()">
      <h3>Log In</h3>
      <div>
        <label for="login-email">Email:</label>
        <input type="email" id="login-email" [(ngModel)]="email" name="login-email" required>
      </div>
      <div>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" [(ngModel)]="password" name="login-password" required>
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
  
  <p>{{ message }}</p>